.product-page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    max-width: 65em;
}

.product-page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3em;
    /* padding: 2rem; */
}

.product-gallery, .product-price {
    margin-top: 1.5em;
}

.product-gallery {
    margin-right: 1.5em;
}

.product-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-gallery {
    max-width: 30rem;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    /* border-radius: .125rem; */
}

.card {
    margin: 0 auto;
}

.card-text {
    display: block;
    font-weight: normal;
}

.product-page-price {
    color: rgb(240, 58, 58);
    font-weight: bold;
    font-size: calc(12px + 1.5vmin);
}


.product-price {
    width: 40%;
}

.product-page button {
    margin: 0.5em;
}

.single-image img {
    margin: 1em 0;
}

@media (max-width: 900px) {
    .product-price {
        width: 30em;
    }
}

@media (max-width: 600px) {

    .product-page-header {   
        align-items: center;
        justify-content: center;
        margin-bottom: 2m;
    }

    .product-gallery {
        margin: 2em 0;
    }

    .product-price {
        margin: 0;
        width: 100%;
    }

    .product-page button {
        width: 100%;
        margin: 0 auto;
    }

    .card {
        width: 100%;
    }
}