.product-page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    max-width: 65em;
}

.product-page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 3em;
    /* padding: 2rem; */
}

.product-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-gallery {
    max-width: 30rem;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    /* border-radius: .125rem; */
}

.card {
    margin: 0 auto;
}

.card-text {
    display: block;
    font-weight: normal;
}

.product-page-price {
    color: rgb(240, 58, 58);
    font-weight: bold;
    font-size: calc(12px + 1.5vmin);
}

.product-page button {
    margin: 0.5em;
}

.product-gallery,
.product-price {
    margin-top: 2em;
}

.product-gallery {
    margin-right: 1.5em;
}

.product-price {

}

.product-tab {
    width: 100%;
    /* padding: 2em; */
}

.tab-content {
    padding: 1em 0.5em;
}

.single-image img {
    margin: 1em 0;
}