.product-list {
  background-color: #e6e6e6;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

@media (max-width: 600px) {

  .product-list {
    padding: 1em 0;
  }

}