.cart-dropdown {
    position: absolute;
    width: 240px;
    /* height: 340px; */
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #007bff;
    background-color: white;
    top: 80px;
    right: 40px;
    z-index: 5;
}

.cart-items {
    /* height: 240px; */
    height: auto;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
}

.cart-dropdown-button {
    /* margin-top: auto; */
}