.cart-dropdown {
    position: absolute;
    width: 250px;
    /* height: 340px; */
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #007bff;
    background-color: white;
    top: 80px;
    right: 40px;
    z-index: 5;
    border-radius: 5px;
}

.cart-products {
    /* height: 240px; */
    height: auto;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
}

.cart-dropdown-button {
    /* margin-top: auto; */
}

.empty-message {
    padding-bottom: 15px;
    font-size: 18px;
    /* margin: 25px auto; */
}