.product-list {
  text-align: center;
}

.product-list {
  /* background-color: #282c34; */
  background-color: #e6e6e6;
  min-height: 100vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  /* color: white; */
}