.product-card {
    margin: 0.25em;
    box-shadow: 1px 1px 4px 1px rgba(153, 153, 153, .2);
}
.card-text {
    font-weight: lighter;
}

.card-text span {
    color: rgb(240, 58, 58);
    font-weight: bold;
}