.product {
    background: white;
    color: #282c34;
    margin: 1em;
}

.product-image {
    max-width: 18em;
    min-height: auto;
}

.product-price {
    font-weight: lighter;
}

.product-price span {
    color: rgb(240, 58, 58);
    font-weight: bold;
}